<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fuel Quote History</title>
    <link rel="stylesheet" href="../public/css/style.css"
  </head>
  <body>
    <div class="center">
      <h1>Fuel Quote History</h1>
      <table>
        <thead>
          <tr class="row">
            <th>Gallons Requested</th>
            <th>Delivery Address</th>
            <th>Delivery Date</th>
            <th>Suggested Price per Gallon</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row">
            <td>20</td>
            <td>1 Main St.</td>
            <td>2/20/23</td>
            <td>$5.00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
